<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='{{ url_for("static", filename="styles/default.css") }}'>
  <link rel='stylesheet' href='{{ url_for("static", filename="styles/urlNotExist.css") }}'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShortUrl</title>
</head>
<body>
  <div class="headerContainer">
    <h1>ShortUrl</h1>
    <p>When shorter is better than longer</p>
  </div>
  <div class="contentContainer">
    <h3>Error!</h3>
    <p>The url you are looking for is no longer present here.</p>
  </div>
  <div class="footerContainer">
    <p>ShortUrl</p>
    <p>2024</p>
  </div>
</body>
</html>